[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "survivalMPLdc"]
	path = survivalMPLdc
	url = https://github.com/kenny-jing-xu/survivalmpldc
